<footer class="text-dark py-4 mt-5">  
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-md-6 text-center text-md-start">
                <h5>Quản lý chi tiêu cá nhân QHA</h5>
                <p>&copy; <span id="year"></span> - Tất cả quyền được bảo lưu.</p>
            </div>
            <div class="col-md-6 text-center text-md-end">
                <h5>Hỗ trợ</h5>
                <p>Email: <a href="mailto:quanlychitieuqha20252025@gmail.com" class="text-dark">quanlychitieuqha20252025@gmail.com</a></p>
                <p>Hotline: <a href="tel:+84123456789" class="text-dark">0123 456 789</a></p>
            </div>
        </div>
        <hr style="border:2px solid black">
        <div class="text-center">
            <p><a href="#" class="text-dark text-decoration-none">Chính sách bảo mật</a> | <a href="#" class="text-dark text-decoration-none">Điều khoản sử dụng</a></p>
        </div>
    </div>
</footer>
