<header>
    <div class="container-fluid px-0">
        <div class="d-flex align-items-center justify-content-between nav-tabs">
            <div class="d-flex align-items-center">
                <div class="text-start d-md-flex align-items-center">
                    <img src="../FE/css/image/logo.png" alt="Logo" class="logo">
                    <span class="logo-name">QHA</span>
                </div>
            </div>
            <div class="d-flex align-items-center">
                <ul class="nav d-flex flex-nowrap">
                    <li class="nav-item"><a class="nav-link" href="transaction.html">Giao dịch</a></li>
                    <li class="nav-item"><a class="nav-link" href="statistical.html">Thống kê</a></li>
                    <li class="nav-item"><a class="nav-link" href="managerBudget.html">Quản lí ngân sách</a></li>
                    <li class="nav-item"><a class="nav-link" href="viewTransaction.html">Quản lý giao dịch</a></li>
                </ul>
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="categoryMenu">Danh mục</button>
                    <ul class="dropdown-menu dropdown-menu-start mt-3">
                        <li><a class="dropdown-item" href="expensex.html">Chi tiêu</a></li>
                        <li><a class="dropdown-item" href="income.html">Thu nhập</a></li>
                    </ul>
                </div>      
                <div class="notification-icon position-relative">
                    <button id="notificationBtn" class="btn btn-outline-secondary position-relative">
                        <i class="bi bi-bell"></i>
                        <span class="noti-count d-none"></span>
                    </button>
                    <div id="notificationDropdown" class="dropdown-menu dropdown-menu-end p-3 notification-dropdown">
                        <div class="notification-header">
                            <h6 class="fw-bold mb-2">Thông báo</h6>
                            <button id="clearNotifications" class="btn btn-sm btn-outline-secondary">Xóa tất cả</button>
                        </div>
                        <ul class="list-unstyled notification-list">
                            
                        </ul>
                    </div>                    
                </div>
                <div class="user-menu d-flex align-items-center ms-3">
                    <i class="bi bi-person-circle user-avatar" style="font-size: 24px;"></i>
                    <p id="userName" class="user-name ms-2" style="white-space:nowrap">Tên người dùng</p>
                    <div class="dropdown-menu text-center" id="userDropdown">
                        <a class="dropdown-item" href="settings.html">Tùy chỉnh</a>
                        <a class="dropdown-item" href="#" id="logoutBtn">Đăng xuất</a>
                    </div>
                </div>                
            </div>
        </div>
    </div>
</header>