body {
    background: url('../css/image/nen1.jpg') no-repeat center center fixed;
    background-size: cover; 
}

#logo {
    display: flex; 
    align-items: center; 
    position: absolute;
    top: 20px; 
    left: 20px; 
    text-decoration: none;
    color: black; 
}

#logo img {
    max-width: 50px; 
    height: auto;
    margin-right: 10px; 
}

#logo h5 {
    font-size: 16px; 
}

.login-form {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px;
    background: rgba(245, 245, 245, 0.788);
    transition: opacity 0.3s ease-in-out;
}


.register-form {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 30px;
    background: rgba(245, 245, 245, 0.788);
    transition: opacity 0.3s ease-in-out;
}
 
.login-form {
    border: 1px solid rgb(255, 182, 243);
    height: 400px; 
    box-shadow: 0px 0px 20px rgba(255, 195, 230, 0.911); /* Đổ bóng nhẹ */
    border-radius: 8px;
}

.register-form {
    border: 1px solid rgb(255, 182, 243);
    height: 580px;
    box-shadow: 0px 0px 20px rgba(255, 195, 230, 0.911); /* Đổ bóng nhẹ */
    border-radius: 8px;
}

.home {
    padding: 8px 10px; 
    border-radius: 50px; 
    background-color:#ffb2d9; 
    transition: all 0.1s ease-in-out; 
}

.home:hover {
    background-color: #ff9ece; 
    color: rgb(0, 0, 0); 
    transform: scale(1.1); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}
