.menu-title {
    position: absolute;
    top: 30px;
    margin-right: 70px;
    font-weight: bold;
    font-size: 30px;
}
.input-group .btn {
    background-color: #ff6196;  
    color: white !important;  
    border: none;
}
.input-group .btn:hover {
    background-color: #ff4382;  
}
.user-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.user-avatar {
    position: relative;
    margin-right: 20px;
    top: 16px;
    width: 30px;
    height: 30px;
    border: 2px solid #ff66b2;
    border-radius: 50%;
    cursor: pointer;
    object-fit: cover;
}

.user-name {
    position: relative;
    margin-right: 20px;
    top: 15px;
    font-size: 10px;
    color: #333;
}

#userDropdown {
    position: absolute;
    top: 70px;  
    right: 10px;
    background-color: #ffb5ce;
    border: 1px solid #ffa0a0;
    border-radius: 7px;
    display: none;
    min-width: 100px;
    padding: 0;  
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
#userDropdown a.dropdown-item:hover {
    border: 1px solid #ffa0a0;
    border-radius: 7px;
    background-color: #ff76bb;  
    color: white;  
}

#userDropdown.show {
    display: block;
}


.nav-tabs {
    border-bottom: 2px solid #ff66b2;
    background: #ffccdd;
    border-radius: 10px;
    
}
a{
    text-decoration: none;
    font-weight: bold;
    color: #000;
}
a:hover{
    color: rgb(25, 98, 255);
}
.nav-tabs .nav-link {

    font-weight: bold;
    color: #1f1f1f;
    border: none;
    margin: 10px;
    box-shadow: 0 3px 6px rgba(248, 2, 125, 0.3);
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
}
.nav-tabs .nav-link:hover {
    background: #ff66b2;
    color: white;
}
.nav-tabs .nav-link.active {
    background-color: #ff4081;  
    color: white;  
    font-weight: bold;
    border-radius: 5px;
}

.category-text {
    width: 100%;
    text-align: center; 
    padding-bottom: 30px;             
    font-size: 18px;
    font-weight: bold;
}

.category-container {
    max-height: 550px;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.category {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.category-item {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #ffccdd;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
    margin-bottom: 10px;
}

.category-item img {
    width: 70%;
    height: 70%;
    object-fit: contain;
}

.category-item:hover {
    cursor: pointer;
    background: #ffb0d8;
    transform: scale(1.1);
}
.btn-primary.dropdown-toggle {
    background-color: #ffccdd!important;  
    border: none;
    color: black;
    font-weight: bold;
    box-shadow: 0 3px 6px rgba(255, 0, 128, 0.3);
    padding: 8px 10px;
    margin: 0 10px;
    position: relative;
    transition: all 0.3s ease-in-out;
}
 
.btn-primary.dropdown-toggle:hover {
    background-color: #ff78ae !important;  
    color: white;
}
 
.dropdown-menu {
    background-color: #ffccdd !important;
    border: 1px solid rgb(255, 151, 215);
    border-radius: 10px !important;
    padding: 0px !important;
    min-width: 8rem !important;     
    box-shadow: 0 3px 6px rgba(248, 2, 125, 0.3);
}
 
.dropdown-item {
    color: #1f1f1f;
}

.dropdown-item:hover {
    background: #ff66a3;
    color: white;
    border-radius: 8px;
}

.nav-tabs {
    padding: 5px;
}
.table-dark th {
    border: 1px solid rgb(158, 158, 158);
    background-color: rgb(255, 182, 233) !important;
    color: black;
}
.table-container {
    max-height: 300px; /* Giới hạn chiều cao bảng, sẽ có thanh cuộn nếu vượt quá */
    overflow-y: auto;
}
